%h1= t(".title")

%p= t(".description")

- if signed_in?
  = link_to t(".proceed_to_work"), work_path, class: "btn btn-lg btn-primary"
- else
  = link_to t(".sign_up_now"), signup_path, class: "btn btn-lg btn-primary"
