.main-hero
  .main-hero__card
    %h1= t(".title")
    %p= t(".description")

    - if signed_in?
      = link_to t(".proceed_to_work"), work_path, class: "main-hero__button"
    - else
      = link_to t(".sign_up_now"), signup_path, class: "main-hero__button"
