<h1>Task Tracker</h1>

<p>Главная страница проекта для экспертной оценки дизайн-референсов.</p>

<ul>
  <li><%= link_to "Help", main_help_path %></li>
  <li><%= link_to "Contacts", main_contacts_path %></li>
  <li><%= link_to "About", main_about_path %></li>
</ul>