%p{style: "color: green"}= notice

- content_for :title, "Themes"

%h1 Themes

%div{id: "themes"}
  - @themes.each do |theme|
    = render theme
    %p
      = link_to "Show this theme", theme

= link_to "New theme", new_theme_path
