%p{style: "color: green"}= notice

- content_for :title, "Images"

%h1 Images

%div{id: "images"}
  - @images.each do |image|
    = render image
    %p
      = link_to "Show this image", image

= link_to "New image", new_image_path
